:root {
  --light-top-bg-pattern-clr: #f5f7ff;
  --card-bg-clr: #f0f2fa;
  --text-clr: #63687e;
  --dark-text-clr: #1e202a;
  --toggle-bg-clr: #aeb3cb;

  --positive-text-clr: #1db489;
  --negative-text-clr: #dc414c;

  --facebook-clr: #198ff5;
  --twitter-clr: #1ca0f2;
  --instagram-clr: linear-gradient(90deg, #fdc468, #df4996);
  --youtube-clr: #c4032a;

  /*Dark Mode Colors*/

  --dark-body-bg-clr: #1e202a;
  --dark-top-bg-pattern-clr: #1f212e;
  --white-clr: #FFF;
  --dark-card-bg-clr: #252a41;
  --dark-dark-text-clr: #8b97c6;
  --dark-toggle-left-clr: #378fe6;
  --dark-toggle-right-clr: 	#3eda82;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: .875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: var(--text-clr);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.body-bg {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-bg.darkmode {
  background-color: var(--dark-body-bg-clr);
}

.top-design {
  background-color: var(--light-top-bg-pattern-clr);
  height: 250px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  border-radius: 0 0 1rem 1rem;
}

.body-bg.darkmode .top-design {
  background-color: var(--dark-top-bg-pattern-clr);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  z-index: 1;
}

/* Header Styling */

header {
  width: 100%;
  padding: 1rem 0;
}

h1 {
  color: var(--dark-text-clr);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.darkmode h1 {
  color: var(--white-clr);
}

.total-followers {
  font-weight: bold;
}

.darkmode h2 {
  color: var(--dark-dark-text-clr);
}

/*Dark Mode Section Styling */

.dark-mode-section {
  margin-top: 1.5rem;
  padding-top: .75rem;
  border-top: 1px solid var(--dark-text-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: .875rem;
  color: var(--toggle-bg-clr);
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


input {
  width: 2.75rem;
  aspect-ratio: 1;
  z-index: 2;
  position: absolute;
  opacity: 0;
}

.slider--container {
  background: var(--toggle-bg-clr);
  width: 2.9rem;
  height: 1.5rem;
  border-radius: 1rem;
  padding: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.darkmode .slider--container {
  background: linear-gradient(90deg, var(--dark-toggle-left-clr), var(--dark-toggle-right-clr));
  justify-content: flex-start;
}

.slider--ball {
  background: white;
  width: 1.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.darkmode .slider--ball {
  background: var(--dark-body-bg-clr);
}

/*Big Card Component Styling */

.big-card-section,
.little-card-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card,
.little-card {
  width: 100%;
  max-width: 325px;
  background-color: var(--card-bg-clr);
  border-radius: 6px;
}

.card {
  padding-top: 5px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.card-container {
    background-color: var(--card-bg-clr);
    padding: .75rem 0;
}

.big-card--heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-card--icon {
  margin-right: .5rem;
}

.handle {
  font-size: .875rem;
}

.followers-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: .75rem;
}

.followers-amount {
  font-size: 4rem;
  font-weight: bold;
  color: var(--dark-text-clr);
}

.followers-heading {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 5px;
}

.increase-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--positive-text-clr);
  font-weight: bold;
}

.increase-amount {
  margin: 0 5px;
}

/*Little Card Component Styling */

.little-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.card-container:hover,
.little-card:hover {
  background-color: #E1E3F0;
  cursor: pointer;
}

.card-container.darkmode,
.little-card.darkmode {
  background-color: var(--dark-card-bg-clr);
  color: var(--dark-dark-text-clr);
}

.card-container.darkmode:hover,
.little-card.darkmode:hover {
  background-color: #333A56;
  cursor: pointer;
}


.little-card--headings-div,
.little-card--stats-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.little-card--stats-div {
  align-items: flex-end;
}

.little-card--title {
  margin: 0;
}

.little-card--main-stat {
  font-weight: 700;
  font-size: 2.125rem;
  color: var(--dark-text-clr);
}

.card-container.darkmode .followers-amount,
.little-card.darkmode .little-card--main-stat {
  color: white;
}

.little-card--percentage-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: var(--positive-text-clr);
}

/*Little Card Section Component Styling */

.little-card-section {
  width: 100%;
}

.little-card-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.little-card-section--title {
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
  color: var(--text-clr);
}

.little-card-section--title.darkmode {
  color: var(--white-clr);
}

/*Media Queries */

@media (min-width: 700px) {

  body {
    font-size: 1rem;
    width: 100vw;
  }

.top-design {
  height: 200px;
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 0;
  }

  h1 {
    font-size: 2rem;
  }

  .dark-mode-section {
    border-top: none;
    justify-content: center;
    gap: 1rem;
  }

  .big-card-section,
  .little-card-section-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .card,
  .little-card {
    max-width: 275px;
  }

}

@media (min-width: 1200px) {
  .body-bg {
    height: 100vh;
  }
}
